*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 625%;
	height: 11.36rem;
	background-color: rgb(240,240,240);
	font-family: HiraginoSansGB;
	color: rgb(120,120,120);
}
.head{
	height: 0.88rem;
	background-color: rgb(41,189,224);
}
.head img{
	float: left;
	margin:0.3rem 0 0 3.59%;
}
.content{
	text-align: center;
	margin: auto;
	width: 90%;
}
.top,.main{
	border: 0.01rem solid rgb(120,120,120);
	background-color: white;
}
.top{
	margin:0.27rem auto;
	height: 1.17rem;
	font-size:0.3484rem;
	line-height: 1.17rem;
	background-image: url("images/t6-1_02.png");
	background-repeat: no-repeat;
	background-position: right;
}
.title{
	height: 0.9rem;
	font-size:0.3774rem;
	line-height: 0.9rem;
	color: rgb(252,207,141);
	border-bottom: 0.01rem solid rgb(252,207,141); 
}
.box2,.box1,.box3{
	height: 1.36rem;
	background-color: rgb(41,189,224);
	color: white;
	font-size:0.3208rem;
	line-height: 1.34rem; 
	margin:  auto;
	width: 72%;
}
.box1{
	margin-top: 0.3rem;
}
.main span{
	display: block;
	font-size:0.2453rem;
	line-height:0.78rem; 
}
.main img{
	float: right;
	position: relative;
    bottom: 4.35rem;
    right: 0.3rem;
}
.main{
	margin-bottom: 0.74rem;
}
.circle{
	overflow: hidden;
	width: 1.08rem;
	margin: auto;
}
.circle1,.circle2,.circle3,.circle4{
	width: 0.18rem;
	height: 0.18rem;
	border-radius: 0.09rem;
	background-color:rgb(240,240,240);
	margin:0.045rem;
	float: left;
}
.circle1{
	background-color:rgb(41,189,224); 
}
@media screen and (max-device-width: 500px){
	.top{
		font-size:0.24rem; 
	}
	.main span{
		font-size:0.23rem; 
	}
	.main img{
	    right: 0;
	}
	.content{
		width:98%;
	}
}