*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 625%;
	background-color: rgb(41,189,224);
	font-family: HiraginoSansGB;
}
.head{

	height: 0.88rem;
	color: white;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.88rem;
}


.img1{
	float: left;
	margin: 0.22rem 0 0 3.13%;
}

.img2{
	float: right;
	margin: 0.22rem 3.13% 0 0 ;
}
.top{
	height:1.35rem;	
}
.top span{
	background-color: rgb(185,233,245); 
	display: block;
	font-size:0.26rem;
	line-height: 0.82rem;
	padding-left: 6.09%;
}
.top img{
	float: right;
	margin: -0.67rem 3.13% 0 0;
	cursor: pointer;
}
.top .triangle{
	width:0;
	height:0;
	border-width:0.13rem;
	border-style: solid dashed dashed dashed;
	border-color: rgb(185,233,245) transparent transparent transparent;
	margin-left: 11.09%;
}
.top p{
	font-size: 0.24rem;
	color: white;
	margin-left: 11.09%;
}
.main{
	text-align: center;
	height: 6.46rem;
	overflow-y: scroll;
}
.name{
	height:1.26rem;
	width: 1.26rem;
	border:0.05rem solid white; 
}
.role{
	height:1rem;
}
.role span{
	background-color: rgb(245,201,123);
	font-size:0.3rem;
	display: block;
	line-height:1rem; 
}
.num{
	height: 0.26rem;
}
.num span{
	background-color:rgb(131,176,154); 
	font-size:0.22rem;
	display: block;
	line-height: 0.26rem;
}
.tool{
	width: 1.36rem;
	height: 0.3rem;
	margin-top: 0.21rem;
}
.tool img{
	float: left;
	margin-left: 0.05333rem;
}
.tool img.tool1{
	margin: 0;
}
ul li{
	display: inline;
	float: left;
	width: 33.33%;
	list-style: none;
}
.first,.second,.third,.fourth{
	width:90%;
	height:1.87rem;
	margin: auto;
	margin-top: 0.23rem;
	text-align: center;
}
.foot{
	height: 1.3rem;
	text-align: center;
	margin-bottom: 0.58rem;
}
button{
	height: 0.9rem;
	width: 76.56%;
	background-color: rgb(250,180,53);
	color: white;
	font-size:0.3rem;
	font-family: "宋体";
	margin: auto;
	border: none;
	line-height: 0.9rem;
	cursor: pointer;
}
@media screen and (max-device-width: 470px){
	.top span{
		font-size:0.19rem;
	}
	.name{
		height:1rem;
		width: 1rem;
		border:0.02rem solid white; 
	}
	.role{
		height:0.8rem;
	}
	.role span{
		font-size:0.3rem;
		line-height:0.8rem; 
	}
	.num{
		height: 0.2rem;
	}
	.num span{
		font-size:0.2rem;
		line-height: 0.2rem;
	}
	.tool{
		width: 1.20rem;
	}
	.tool img{
		width:0.25rem;
		height: 0.25rem; 
		margin-left: 0.01rem;
	}
	.first,.second,.third,.fourth{
		width:100%;
	}
}
.first .box2 .tool,.first .box3 .tool,
.second .box1 .tool,.second .box2 .tool,.second .box3 .tool,
.third .box1 .tool,.third .box2 .tool,.third .box3 .tool,
.fourth .box1 .tool,.fourth .box2 .tool,.fourth .box3 .tool{
	display: none;
}
.main .name,.main .tool,.img1,.img2{
	cursor: pointer;
}

