*{
	padding: 0;
	margin: 0;
}
html{
	font-family: STHeitiSc;
	font-size:625%;
	background-color: white;
	min-width: 3.2rem;
}
.head{
	height:0.88rem;
	background-color: rgb(90,192,206);
	text-align: center;
}
.box{
	height:0.7rem;
	width:2.88rem;
	margin: auto;
	position:relative;
	top:0.09rem;
	border-radius: 0.08rem;
	background-color: rgb(81,168,180);
}
.emp,.care{
	line-height:0.7rem;
	font-size:0.32rem;
	float: left;
	width:50%;
	color: white;
}
.care{
	background-color: white;
	color: rgb(90,192,206);
	border-radius:0.08rem;
}
.head img{
	float: right;
	margin-right: 10px;
}
.nav{
	height: 0.8rem;
	text-align: center;
	width:100%;
	height: 0.8rem;
	margin: auto;
	font-size: 0.24rem;
	border-bottom: 0.01rem solid rgb(225,229,231);
}
.nav span{
	line-height: 0.24rem;
	display: block;
	float:right;
	width: 32%;
	position: relative;
	top: 0.28rem;
	background-image: url("images/task5-2_05.jpg");
	background-repeat: no-repeat;
	background-position: right;
	color: rgb(153,153,153);
}
.nav1,.nav2{
	border-right:0.02rem solid rgb(225,229,231);
}
.content table{
	width: 100%;
	height: 1.81rem;
}
.content li{
	list-style: none;
	height: 1.81rem;
	padding: 0 0.3rem;
	border-bottom: 0.01rem solid rgb(225,229,231);
}
.content th{
	font-size: 0.26rem;
	color: rgb(153,153,153);
	line-height: 0.26rem;
}
.content th img{
	position: relative;
	top: 0.04rem;
}
.content table td.time{
	font-size: 0.25rem;
	padding-left: 0.3rem;
}
.content table td.price{
	font-size:0.3rem;
	color: rgb(230,59,14);
	background-image: url("images/task5-2_06.jpg");
	background-repeat: no-repeat;
	background-position: right;
	float: right;
	padding-right: 0.2rem;
	position: relative;
	top: 0.1rem; 
}
@media screen and (max-device-width: 480px){
	.box{
		width:2rem;
	}
	.nav span{
		font-size: 0.19rem;
	}
	.content li{
		padding: 0;
	}
	.content th{
		font-size: 0.23rem;
	}
	.content table td.time{
		font-size: 0.17rem;
	}
	.content table td.price{
		font-size:0.22rem;
		position: relative;
		top: 0.15rem; 
	}

}
.foot{
	height: 1rem;
	text-align: center;
	width: 100%;
}
.left{
	float: left;
	margin-left:20.9%;
}
.right{
	float: right;
	margin-right:20.9%;
}
